* {
	margin: 0px;
	padding: 0px;
}


/*header*/
.navbar a{
	color: white;
}
#header {
	width: 100%;
	background-image: url(../img_resume/self-introduction.png);
	background-size: cover;
}
.icon-bar{
	background-color: white;
}
.navbar {
	background-color: #000000;
	opacity: 0.5;
}

.header-content {
	margin-top: 15%;
}
.header-content .img {
	margin-top: 2%;
}

.chevron-down {
	padding-top:10%;
	padding-bottom: 6%;
}
#myself h2{
	color: #C5B7B8;
}
#myself h2 span{
	color: #F1E9F2;
	font-weight: bolder;
	font-size: 1.2em;
}
#myself h3{
	font-weight: bolder;
}
#myself p{
	color: #F1E9F2;
}
/*about*/

.content_about {
	height: auto;
	background-color: #281D24;
	color: white;
	text-align: center;
}
.hanedr-contented h2{
	color: #C6C3C5;
	font-weight: 300;
	margin-top: 2.5em;
}
.hanedr-contented p{
	color: gray;
	line-height: 4;
}
.hanedr-contented span{
	background: #8C868A;
	height: 1px;
	width: 20%;
	display: inline-block;
	vertical-align: middle;
}
.year{
	margin-top: 60px;
}
.year h4{
	margin: 20px 0px 30px 0;
}
.year p{
	width: 50%;
	margin-left: 25%;
}
/*skill*/
.content_skill{
	background-color: #20191B;
	height: auto;
}
.hanedr-contented{
	text-align: center;
}


.circliful {
    position: relative; 
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}
.col-md-3 .myStat{
	margin: 0 auto;
}
.myStat+h3{
	color: white;
}
/*portfolio*/
.container-contact{
	width: 100%;
	background-image: url(../img_resume/resume_footerbg.jpg);
	background-size: cover;
}
#contact p{
	color:#B5A9B7;
	font-size: 16px;
	letter-spacing: 2px;
}
#contact p span{
	font-size: 18px;
}
#contact input,#contact textarea{
	opacity: 0.7;
	border-radius: 0px;
}
#contact input[type="text"],#contact input[type="email"],#contact textarea,#contact input[type="submit"]{
color: white;
background: #170F12;
outline: none;
border: solid 1.5px;
border-color: #9A9A9A #EEEEEE #EEEEEE #9A9A9A;
}