* {
	margin: 0px;
	padding: 0px;
}

#main {
	position: relative;
}

.box {
	float: left;
	border-radius: 5px;
}

.pic {
	margin: 20px 20px 0 0;
}
.pic img {
	width: 200px;
	height: auto;
}
.pic:hover{
	opacity: 0.6;
}
.text {
	color: gray;
	width: 200px;
	padding: 20px;
}